@import "~@sweetalert2/theme-dark/dark.scss";
#add-todo {
  color: white;
  height: 2em;
  width: 2em;
  font-size: 2.5em;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 0;
  transform: translate(-50%, -50%);
  background-color: transparentize($color: white, $amount: 0.8);
  box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.75);
  &:focus {
    outline: none;
    background-color: transparentize($color: white, $amount: 0.5);
    box-shadow: 10px 10px 66px 13px rgba(0, 0, 0, 0.75);
  }
}
