#card {
  position: absolute;
  vertical-align: middle;
  width: calc(100%);
  height: 100%;
  max-height: 100%;
  background-color: rgb(48, 48, 48);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow-y: scroll;
}
#cool-header {
  position: fixed;
  position: sticky;
  width: 100%;
  height: 30%;
  border-radius: 0.5em 0.5em 0 0;
}
#card #date {
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 0;
  margin: 0;
}
