@mixin afterize($bgcolor, $content) {
  content: $content;
  display: flex;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 0%;
  width: 0%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $bgcolor;
  border-radius: 100%;
  opacity: 0;
}
@keyframes reveal-afterize {
  from {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
  }
  to {
    opacity: 1;
    width: calc(100% - 2px);
    height: 100%;
    border-radius: 0;
  }
}
#todo-item-toast {
  box-shadow: -8px -6px 23px -1px #464646, 8px 6px 23px -1px #000000;
  position: relative;
  width: calc(90% - 5px);
  min-height: 20%;
  color: white;
  background-color: transparent;
  border: 3px solid green;
  border-width: 0 0 0 5px;
  margin: 5% calc(5% + 5px);
  padding: 2em 0;
  transition: background-color 0.25s ease;
  &.greet {
    animation: greet 0.75s ease-in-out forwards;
  }
  &.delete {
    animation: delete 0.75s ease-in-out forwards;
  }
  &.strike {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .content {
    font-weight: lighter;
    padding-left: 1em;
    width: calc(100% - 6em);
    font-size: 2em;
    margin: 0em;
    word-wrap: break-word;
  }
  .content.strike {
    text-decoration: line-through;
  }
  .date {
    padding-left: 2em;
    bottom: -0.5em;
  }
  .done,
  .remove {
    color: white;
    background: rgb(48, 48, 48);
    position: relative;
    padding: 0;
    border: none;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 3em;
    height: 100%;
    transition: background-color 0.25s ease;
    &:focus {
      outline: none;
    }
  }
  .remove {
    &::before {
      left: 0;
      position: absolute;
      bottom: 2.5%;
      content: "";
      width: 1px;
      height: 95%;
      background-color: white;
    }
    &::after {
      @include afterize(red, "✕");
    }
    &:hover::after {
      animation: reveal-afterize 0.25s ease-in-out forwards;
    }
  }
  .done {
    margin-right: 3em;
    &::after {
      @include afterize(green, "✓");
    }
    &:hover::after {
      animation: reveal-afterize 0.25s ease-in-out forwards;
    }
    &::before {
      position: absolute;
      bottom: 2.5%;
      content: "";
      width: 1px;
      height: 95%;
      background-color: white;
    }
    &::after {
      right: 0;
    }
    &::before {
      left: 0;
    }
  }
}
@keyframes delete {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.2) translateY(20em);
    opacity: 0;
  }
}
@keyframes greet {
  0% {
    transform: scale(0.2) translateY(-20em);
    opacity: 0;
  }
  90% {
    transform: scale(1) translate(0);
    opacity: 1;
  }
  95% {
    transform: scale(1) translate(0);
  }
}
