#todo-item-toast {
  position: relative;
  width: calc(90% - 5px);
  min-height: 20%;
  background-color: white;
  border: 3px solid green;
  border-width: 0 0 0 5px;
  margin: 5% calc(5% + 5px);
  padding: 2em 0;
  transition: background-color 0.25s ease;
  &.strike {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .content {
    width: calc(100% - 6em);
    font-size: 2em;
    margin: 0em;
    word-wrap: break-word;
  }
  .content.strike {
    text-decoration: line-through;
  }
  .date {
    bottom: -0.5em;
  }
  .done,
  .remove {
    position: relative;
    padding: 0;
    border: none;
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 3em;
    height: 100%;
    transition: background-color 0.25s ease;
    &:focus {
      outline: none;
    }
  }
  .remove {
    &:hover {
      background-color: red;
    }
  }
  .done {
    margin-right: 3em;
    &:hover {
      background-color: green;
    }
    &::after,
    &::before {
      position: absolute;
      bottom: 2.5%;
      content: "";
      width: 1px;
      height: 95%;
      background-color: black;
    }
    &::after {
      right: 0;
    }
    &::before {
      left: 0;
    }
  }
}
.delete {
  animation: delete 1s ease-in-out forwards;
}
@keyframes delete {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-6em);
    opacity: 0;
  }
}
